body>section{
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    text-align: center;
    max-width: max-content;
    width: 90%;
}

button{
    padding: 0.5rem;
    width: 10rem;
}

.choice{
    display: flex;
    flex-direction: row;
    
    justify-content: space-around;
    width: 100%;
}