canvas{
   
    width: 50%;
    margin: 1%;
    align-self: center;

}

button{
    width: max-content;
    align-self: center;
    padding: 0.5em;
    margin: 1em;
}

button:hover{
    border: 1px solid darkgreen;
    box-shadow: 0.2rem 0.2rem 0.2rem 0px gray, inset 0 0 1rem 0.1rem rgb(0, 232, 124), 0 0 0.5rem 0.1rem rgb(0, 232, 124);
}

button:active{
    
    box-shadow: inset 0.2rem 0.2rem 0.2rem 0px gray, inset 0.2rem 0.2rem 1rem 0.5rem yellow;
}

section>h2{
    color: aliceblue;
    text-align: center;
}



#message{
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    width: 80%;
    max-width: max-content;
    border: 1px red;
    border-radius: 20px;
    background-color: gainsboro;
    box-shadow: inset 0.2rem 0.2rem 1rem 0.5rem red, 0.2rem 0.2rem 0.2rem 0px black;
    margin: 10%;
    padding: 1.2rem;
    
}


#congrats h3, #congrats p{
    color: rgb(1, 52, 72);
}

#congrats h2{
    font-size: 2rem;
}

#congrats{
    position: absolute;
   
    top:  -2000px;
 
    padding: 2%;
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    align-self: center;
    justify-self: center;
    max-width: max-content;
    flex-direction: column;
    align-items: center;
    background-color: bisque;
    box-shadow: inset 0 0 1rem 0.5rem var(--main-color), 0.4rem 0.4rem 0.4rem 0.1rem black, 0 0 40rem 10rem rgb(145, 237, 255);
    z-index: 2;

    transition: top .7s ease-in;
}

#congrats.display{
    top: 10%;

    transition: top .7s ease-out;
}

#save{
    background-color: rgb(0, 232, 124);
    font-weight: bold;
    box-shadow: 0 0 0.5rem 0.1rem rgb(0, 232, 124);
    transition: all .3s ease-out;
}

#save:hover{
    border: 1px solid darkgreen;
    color: rgb(0, 52, 0);
    background-color: rgb(145, 255, 204);

    box-shadow: 0.2rem 0.2rem 0.2rem 0px black, inset 0 0 1rem 0.1rem rgb(0, 232, 124), 0 0 2rem 0.1rem rgb(0, 232, 124);
    transition: all .1s ease-out;
}

#save:active{
    border: 1px solid darkgreen;
    background-color: rgb(0, 255, 136);
    box-shadow: inset 0.2rem 0.2rem 0.2rem 0px gray, inset 0.2rem 0.2rem 1rem 0.5rem rgb(195, 255, 0);
    transition: all .1s ease-out;

}

.destroyOnLoad{

    margin-top: 10%;
    align-self: center;
    font-size: 3rem;
    justify-self: center;
}

.warning{
    padding: 1rem;
    color: darkred;
    font-size: 1.2rem;
    font-weight: normal;
    justify-self: center;
    background-color: aliceblue;


}


#cancel{
    background-color: rgb(213, 189, 189);
    transition: all .1s ease-out;
}

#cancel:hover{
    border: 1px solid darkred;
    color: rgb(52, 22, 0);
    background-color: rgb(179, 143, 166);

    box-shadow: 0.2rem 0.2rem 0.2rem 0px gray, inset 0 0 1rem 0.1rem rgb(232, 0, 104), 0 0 0.3rem 0 rgb(232, 0, 0);
    transition: all .3s ease-out;
}

#cancel:active{
    border: 1px solid darkgreen;
    color: whitesmoke;
    background-color: rgb(14, 7, 11);
    box-shadow: inset 0.2rem 0.2rem 0.2rem 0px black, inset 0.2rem 0.2rem 1rem 0.5rem rgb(190, 0, 0);
    transition: all .1s ease-out;

}

#cancel:disabled, #save:disabled{
    box-shadow: inset 1px 1px 1px 0px gray;
    background-color: rgb(244, 231, 231);
    color: rgb(173, 173, 173);
    border: none;
}

#congrats .good{
    color: darkgreen;
    font-weight: bold;
}

#congrats .bad{
    color: darkred;
    font-weight: bold;
}




button:hover{
    border: 1px solid darkgreen;
    box-shadow: 0.2rem 0.2rem 0.2rem 0px gray, inset 0 0 1rem 0.1rem rgb(0, 232, 124), 0 0 0.5rem 0.1rem rgb(0, 232, 124);
}

button:active{
    
    box-shadow: inset 0.2rem 0.2rem 0.2rem 0px gray, inset 0.2rem 0.2rem 1rem 0.5rem yellow;
}



body>section{

    background-color: rgb(74, 74, 74);
    max-width: unset;
    margin-left: auto;
    margin-right: auto;
}