

@media only screen and (min-width:1301px) {
    .grid{
        transition: all .3s ease-out;
        display: grid;
        gap: 10px;
        grid-template-columns: 7fr 4fr;
        grid-template-areas: " title title"
                    "article aside"
                    "games aside";
        max-width: 1500px;
        width: 90%;
    }


    #players{
        transition: all .3s ease-out;
        width: 80%;
    }
}

@media only screen and (max-width:1300px) and (min-width:501px){
    .grid{
        transition: all .3s ease-out;
        display: grid;
        gap: 10px;
        grid-template-areas: "title"
                    "article"
                    "aside"
                    "games";
        width: 95%;
    }

    #players{
        transition: all .3s ease-out;
        width: 78%;
    }

    #players table{
        transition: all .3s ease-out;
        margin: 1.2rem;
        font-size: 1rem;


    }



    td{
        transition: all .3s ease-out;
        padding: 0.8rem;
    }


}

@media only screen and (max-width:500px){
    .grid{
        transition: all .3s ease-out;
        display: grid;
        gap: 10px;
        grid-template-areas: "title"
                    "article"
                    "aside"
                    "games";
    }

    #players{
        transition: all .3s ease-out;
        width: max-content;
    }

    #players table{
        transition: all .3s ease-out;
        margin: 1.2rem;
        font-size: 0.8rem;

    }

    #players td:last-child, #players th:last-child{
        visibility: collapse;
        position: absolute;
        padding: 0;
    }
    

    td{
        padding: 0.5rem;
    }

}


aside{
    
    grid-area: aside;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

#difficulty{
    margin: 1rem;
}

#difficulty>p, #difficulty>h2{

    padding: 0.2rem;
    padding-left: 2rem;
}

article{
    grid-area: article;
    overflow: visible;

}


figure{
    text-align: center;
    padding: 1rem;
    border: 1px solid gray;
    max-width: 500px;
}

figure>img{

    width: 100%;
}


#title{
    grid-area: title;
    text-align: start;
    margin-left: 2rem;
    font-size: 2rem;
}


#soloMode{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    
    align-self: center;
    
    
}

#soloMode p{
    
    font-weight: bold;
    color: darkgreen;
    
}

#soloMode button{
    
    border: 1px black solid;
    border-radius: 2rem;
    padding-left: 1rem;
    height: 2rem;
}

#soloMode button:hover{
    border: 1px darkgreen solid;
    box-shadow: 0.2rem 0.2rem 0.2rem 0px gray, inset 0 0 1rem 0.1rem rgb(0, 232, 124);
    
}

#soloMode button:active{
    
    box-shadow: inset 0.2rem 0.2rem 0.2rem 0px gray, inset 0.2rem 0.2rem 1rem 0.5rem yellow;
}

#first{
    color: rgb(227, 174, 39);
    text-shadow: 1px 1px 4px gray;
}


#second{
    color: rgb(131, 131, 131);
    text-shadow: 1px 1px 4px gray;
}

#therd{
    color: brown;
    text-shadow: 1px 1px 4px gray;
}

#players caption{
    font-weight: bold;
}


#players{
    color: black;
    grid-area: games;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: stretch;
    justify-content: space-between;
    padding: 1rem;
    
}


#tcurrent{
    padding: 1rem;
    text-align: end;

}



#tnav{

    margin-left: auto;
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
}

tr{
    border: solid 1px black;
}

tbody tr:nth-child(even){
    background-color: rgb(206, 241, 243);
}

td{
    text-align: center;
}



