th{
    padding: 0.5rem;

}



section>h2{
    font-size: 1.5rem;
    margin: 1rem;
    text-align: center;
}


.preview{
    background-repeat: no-repeat;
    background-blend-mode:overlay ;
    background-color: lightgray;
    background-position: center;
    background-size: cover;
}

#maps td{
    height: 10rem;
    font-weight: bold;
    text-shadow: 0.1rem 0.1rem  0.3rem white;
    text-align: center;
}

@media only screen and (min-width:851px) {
    body>section{
        transition: all .3s ease-out;
        width: 50%;
        max-width: 1000px;
    }

    .new::after{
        transition: all .3s ease-out;
        content: "New!";
        position: absolute;
        font-size: 1rem;
        margin: 1rem;
        font-weight: bold;
        color: greenyellow;
        text-shadow: 1px 1px 2px black;
    }

    table{
        transition: all .3s ease-out;
        margin: 1rem;
    }

    td{
        transition: all .3s ease-out;
        padding: 1rem;
    }
}
@media only screen and (max-width:850px) {
    

    .new::after{
        transition: all .3s ease-out;
        content: "New!";
        position: absolute;
        margin: 0.1rem;
        font-size: 0.8rem;
        font-weight: bold;
        color: greenyellow;
        text-shadow: 1px 1px 2px black;
    }

    table{
        transition: all .3s ease-out;
        font-size: 0.8rem;
        margin: 0.1rem;
    }

    td{
        transition: all .3s ease-out;
        padding: 0.3rem;
    }
}




table{
    
    border-collapse: collapse;
    
}

thead{
    background-color: var(--main-color);
    color: beige;
}

tbody tr:nth-child(even){
    background-color: rgb(150, 188, 190);
}

tbody tr:hover{
    animation: none;
    box-shadow: inset 0 0 10px 5px burlywood;
    
}

tbody tr:active{
    animation: none;
    box-shadow: inset 0 0 20px 10px yellow;
    
}
